
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.docker/.env.nginx.local
/.docker/nginx/.env.nginx.local
/.idea/blog.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
