
{% if blog_posts is empty %}
  Zatím nejsou vloženy žádné posty.
{% else %}
  <div>
    {% for blog_post in blog_posts %}
      {% include 'common/blog_post.html.twig' with {'truncateValue': '150'} %}
      <hr>
    {% endfor %}
  </div>
{% endif %}